<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grafana Dashboards</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .content {
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            background-color: white;
        }
    </style>
</head>
<body>
    <div class="container content">
        <h1>Дашборды в Grafana</h1>
        <p>Ссылки на опубликованные дашборды:</p>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название поискового запроса</th>
                    <th>Вакансии</th>
                    <th>Работодатели</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Data Engineer</td>
                    <td><a href="https://andreynetrebin.grafana.net/public-dashboards/94cbb18b23e64a10b853797f7f79a8da" target="_blank">Ссылка на дашборд</a></td>
                    <td><a href="https://andreynetrebin.grafana.net/public-dashboards/e32df1d22e684f08af40ebdfc24c3ec8" target="_blank">Ссылка на дашборд</a></td>
                </tr>
                <!-- Добавьте дополнительные строки по мере необходимости -->
            </tbody>
        </table>

        <!-- Кнопка возврата на главную страницу -->
        <a href="/" class="btn btn-primary">Вернуться на главную страницу</a>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
